
// Common - Base
//------------------------------------------------------------------------------

html {
  font-size: 62.5%;
  box-sizing: border-box;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

body {
  font-family: $font-arial;
  font-size: $font-size-base;
  line-height: $font-line-height;
}

a {
  color: $blue;
  display: block;
  font-size: $font-size-smaller;
  text-decoration: none;

  &:hover {
    color: $blue;
    text-decoration: underline;
  }
}

input,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid $gray-light;
  border-radius: 0;
  outline: 0;
  padding: 10px;
}

input[type="text"],
select {
  background: white;
}

input[type="submit"] {
  border: none;
}

select {
  background-image: white url("../img/down-arrow.png") no-repeat 96% center;
  background-size: 12px;
}

select::-ms-expand {
    display: none;
}
